.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(248, 247, 247);
}

.content{
    background-color: white;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    position: relative;
}

.content::before{
    content:'';
    position: absolute;
    background-color: rgb(12, 163, 156);
    width: 40%;
    height: 100%;

    left: 60%;
}

/* ============================ primary content ================================*/
.primaryContent{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    display: none;

}

.primaryContent2colunaCriarConta{
    color: rgb(12, 163, 156);
}

.primaryContentRedesSociais{
    display: flex;
    justify-content: center;
}

.primaryContentRedesSociaisIten{
    margin: 5px;
    color: rgb(211, 210, 210);
    font-size: 20px;
    border-style:solid;
    border-radius: 50%;
    padding: 1px;
}

.primaryContentCriarContaInputs{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 130px;
    width: 100%;
}

.primaryContentEmailRegistro{
    color: rgb(221, 220, 220);
}

.primaryContentButtonEntrar{
    background-color: rgb(12, 163, 156);
    padding: 5px;
    width: 40%;
    border-radius: 15px;
    border-color: white;
    font-size: 15px;
    color: white;
    font-weight: 500;
    transition: background-color .5s;
}

.ButtonEntrarCriarConta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.primaryContentButtonEntrar:hover{
    background-color:white;
    border-color:rgb(12, 163, 156);
    color:rgb(12, 163, 156);
    font-weight: 600;
}

.primaryContentButtonBemVindo{
    background-color: rgb(12, 163, 156);
    padding: 5px;
    width: 40%;
    border-radius: 15px;
    border-color: white;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

/*============================= second content =================================*/
.secondContent{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.secondContent .secondContent1coluna{
    order: 2;
}

.secondContent .secondContent2coluna{
    order: 1;
}

.secondContent h2{

}

.secondContentButtonCriar{
    background-color: rgb(12, 163, 156);
    padding: 5px;
    width: 60%;
    border-radius: 15px;
    border-color: white;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.secondContentButtonCriar:hover{
    background-color:white;
    border-color:rgb(12, 163, 156);
    color:rgb(12, 163, 156);
    font-weight: 600;
}

.secondContent2coluna h1{
    color: rgb(12, 163, 156);
}

.secondContent2coluna h4{
    color: rgb(204, 204, 204);
}

.secondContentRedesSociais{
    display: flex;
    justify-content: center;
    
}

.secondContentRedesSociaisIten{
    margin: 9px;
    color: rgb(211, 210, 210);
    font-size: 20px;
    border-style:solid;
    border-radius: 50%;
    padding: 5px;
}

.secondContentCriarContaInputs{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;
}

.CriarContaInputsSecondInputs{
    display: flex;
    align-items: center;
    background-color: rgb(196, 236, 248);
    padding: 10px;
    width: 60%;
    border-radius: 5px;
}

.InputSecond{
    border:none;
    height: 100%;
    width: 100%;
    background-color: rgb(196, 236, 248);
}

.secondContentEsqueceuSenha{
    
}

.secondContentButtonEntrar{
    background-color: rgb(12, 163, 156);
    padding: 5px;
    width: 40%;
    border-radius: 15px;
    border-color: white;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.secondContentButtonEntrar:hover{
    background-color:white;
    border-color:rgb(12, 163, 156);
    color:rgb(12, 163, 156);
    font-weight: 600;
}

/*itens dentro da 1 coluna do bem vindo de volta*/
.primaryContent1coluna{
    color: white;
    z-index: 10;
    text-align: center;
    width: 40%;
}

.primaryContent2coluna{
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    width: 60%;
}

/*itens dentro da 1 coluna do OLA AMIGO*/
.secondContent1coluna{
    color: white;
    z-index: 10;
    text-align: center;
    width: 40%;
}

.secondContent2coluna{
    text-align: center;
    width: 60%;
}

.CriarContaInputs{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;
}

/*========================== BOTÕES ======================================*/


